@()
<!doctype html>
<html lang="en" data-framework="angular2">
  <head>
    @angularUrls(title="Angular Tour of Heroes")
    <script>

    @* our app is downloaded as individual javascript files by SystemJs
             after compilation by sbt-typescript*@
    System.config({
      paths: {
        // paths serve as alias
        'libs:': 'assets/lib/'
      },
      // map tells the System loader where to look for things
      map: {
        // our app is within the app folder
        app: 'assets/app',

        // angular bundles
        '@@angular/core': 'libs:angular__core/bundles/core.umd.js',
        '@@angular/common': 'libs:angular__common/bundles/common.umd.js',
        '@@angular/compiler': 'libs:angular__compiler/bundles/compiler.umd.js',
        '@@angular/platform-browser': 'libs:angular__platform-browser/bundles/platform-browser.umd.js',
        '@@angular/platform-browser-dynamic': 'libs:angular__platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js',
        '@@angular/http': 'libs:angular__http/bundles/http.umd.js',
        '@@angular/router': 'libs:angular__router/bundles/router.umd.js',
        '@@angular/forms': 'libs:angular__forms/bundles/forms.umd.js',

        // other libraries
        'rxjs': 'libs:rxjs'
      },
      // packages tells the System loader how to load when no filename and/or no extension
      packages: {
        app: {
          defaultExtension: 'js'
        },
        rxjs: {
          defaultExtension: 'js'
        }
      }
    });

    @* SystemJs works out which other modules our app module depends on and will download and load them*@
    System.import('app/main')
      .catch(console.error.bind(console));

    </script>

  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
