@()
<!doctype html>
<html lang="en" data-framework="angular2">
    <head>           @* this version of the application loads the application as one file.  *@
        <meta charset="utf-8">
        <title>Angular2 • TodoMVC</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/todomvc-common/base.css")">
        <link rel="stylesheet" href="assets/stylesheets/todomvc-app.css">
        <script src='@routes.Assets.versioned("lib/angular2/bundles/angular2-polyfills.js")'></script>
        <script src='@routes.Assets.versioned("lib/systemjs/dist/system.js")'></script>
        <script src='@routes.Assets.versioned("lib/rxjs/bundles/Rx.js")'></script>
        <script src='@routes.Assets.versioned("lib/angular2/bundles/angular2.dev.js")'></script>

        @* if we provide the jvm option -DtsCompileMode=stage to our sbt task our
           typescript app is compiled to one JS file including the ES6 libraries that our app depends on *@
        <script src='@routes.Assets.versioned("main.js")'></script>

        <script>

            @* we'd expect the module to import to be 'app/bootstrap'
               due to a limitation of tsc 1.8 we have to prefix the path in our source repo as well *@
                System.import('app/assets/app/bootstrap')
                        .catch(console.error.bind(console));

        </script>
    </head>
    <body>
        <todo-app></todo-app>
        <footer class="info">
            <p>Double-click to edit a todo</p>
            <p>
                Created by <a href="http://github.com/samccone">Sam Saccone</a>
                and <a href="http://github.com/colineberhardt">Colin Eberhardt</a>
                using <a href="http://angular.io">Angular2</a>
            </p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
    </body>
</html>
