@()
<!doctype html>
<html lang="en" data-framework="angular2">
    <head>
        @* In this version of the application the typescript compilation is done by the play framework.
           The browser downloads .js files. *@
        <meta charset="utf-8">
        <title>Angular2 • TodoMVC</title>
        <link rel="stylesheet" href="@routes.Assets.versioned("lib/todomvc-common/base.css")">
        <link rel="stylesheet" href="assets/stylesheets/todomvc-app.css">
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system-polyfills.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/core-js/client/shim.min.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/zone.js/dist/zone.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/reflect-metadata/Reflect.js")'></script>
        <script type='text/javascript' src='@routes.Assets.versioned("lib/systemjs/dist/system.src.js")'></script>

        <script>    @* our app is downloaded as individual javascript files by SystemJs
                     after compilation by sbt-typescript*@
            var map = {
                'app': 'assets/app',
                '@@angular':'assets/lib/@@angular',
                'rxjs':'assets/lib/rxjs',
                'symbol-observable': 'assets/lib/symbol-observable'

            };


        var packages = {
                'app': {main: 'main.js', defaultExtension: 'js'},
                'rxjs': {defaultExtension: 'js'},
                'assets/lib': {defaultExtension: 'js'},
                'symbol-observable': {defaultExtension: 'js', main: 'index.js'}
            };
        var ngPackageNames = [
                'common',
                'compiler',
                'core',
                'forms',
                'http',
                'platform-browser',
                'platform-browser-dynamic',
                'router'
            ];

        function packIndex(pkgName) {
          packages['@@angular/'+pkgName] = { main: 'index.js', defaultExtension: 'js' };
        }
        function packUmd(pkgName) {
          packages['@@angular/'+pkgName] = { main: '/bundles/' + pkgName + '.umd.js', defaultExtension: 'js' };
        }
          // Most environments should use UMD; some (Karma) need the individual index files
        function addAngularModulesToMap(pkgName) {
          map['@@angular/'+pkgName] = 'assets/lib/angular__' + pkgName;
        }

          // Add package entries for angular packages
        var setPackageConfig = System.packageWithIndex ? packIndex : packUmd;
        ngPackageNames.forEach(setPackageConfig)

          // Add map entries for angular packages
        ngPackageNames.forEach(function(pkgName){
           addAngularModulesToMap(pkgName)
        });

        System.config({
            map : map,
            packages: packages,
        });
        @* SystemJs works out which other modules our app module depends on and will download and load them*@
        System.import('app')
            .catch(console.error.bind(console));

		</script>
    </head>
    <body>
        <todo-app></todo-app>
        <footer class="info">
            <p>Double-click to edit a todo</p>
            <p>
				Created by <a href="http://github.com/samccone">Sam Saccone</a> and <a href="http://github.com/colineberhardt">Colin Eberhardt</a>
                using <a href="http://angular.io">Angular2</a>
			</p>
            <p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
        </footer>
    </body>
</html>
